<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error-text">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.collection_select :category_id,
        Category.all, :id, :name, { prompt: "Category"} %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 18 %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
<br />
