<div>
  <p><%= link_to'Edit', edit_article_path(@article) if logged_in?(:site_admin) %></p>
  <p><%= link_to'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%></p>
</div>

<div>
  <p>Title:</p>
  <%= @article.title %>
</div>

<div>
  <p>Content:</p>
  <%= @article.content %>
</div>

<br />

<hr />

<%= link_to 'Articles', articles_path %>
